body div.resource {
    margin: 1rem;
    padding: 0;

    a {
        display: block;
        margin-bottom: 1rem;
    }

    h3 {
        padding-bottom: 1rem;
    }

    img {
        border: 1px solid $gray-l3;
        box-shadow: 0 0 5px $gray-l3;
        margin: 0;
        padding: 1rem;
    }

    .caption {
        padding: 0 1rem 1rem;
        text-align: left;

        a {
            display: inline;
        }
    }

    .caption + .caption {
        border-top: 1px solid $gray-l3;
        padding-top: 1rem;
    }

    .file {
        border: none;
        margin: 0;
    }

    // There is a very-specific rule coming from Omeka core that we need to override.
    &.item {
        .caption {
            font-size: 1.5rem;
            line-height: 1.3;
        }
    }
}
