.wrap-outer-header-local {
    border-bottom: none;

    .page-banner {
        background-color: $gray-l4;
        color: $white;
        min-height: 12rem;
    }

    .wrap-header-local {
        background: $black;
        color: $white;
        margin-top: -6em;
        padding: 0;

        .page-header-home {
            padding: 2rem;
            padding-bottom: 0;

            a {
                color: $white;
            }
        }

        .page-menu {
            background: $gray-l2;
            color: $black;
        }

        p.child-tagline {
            font-size: 1.6rem;
        }
    }
}

@media (min-width: $bp-screen-md) {
    .wrap-outer-header-local .wrap-header-local {
        box-shadow: 0 0 5px $shadow;
    }
}
