@import 'variables';

// ----------------------------
// #CONTENT
// ----------------------------

// Remove padding-top from wrap-content everywhere.
.wrap-content {
    padding-top: inherit;
}

// Use of the vertical navigation should expand the content column to make room.
.nav-vertical {
    .wrap-breadcrumb,
    .wrap-content,
    .wrap-footer,
    .wrap-footer-institute,
    .wrap-gridband,
    .wrap-header,
    .wrap-header-local,
    .wrap-notice {
        max-width: 152rem;
    }

    #navbar-container {
        margin-bottom: 2rem;
    }
}

// Add a new UI layer that isn't in the style library: wrap-outer-search.
.wrap-outer-search {
    background-color: $white;
    color: $black;

    .wrap-content {
        #search-form {
            margin: 0;
        }
    }
}

.hidden-above-md {
    @media only screen and (min-width: $bp-screen-md) {
        display: none;
    }
}

.hidden-below-lg {
    @media only screen and (max-width: $bp-screen-md) {
        display: none;
    }
}
