/*
This module relates to the color variant system provided by the theme. This
feature is described in the theme documentation at:

docs/reference/color-variations.md
*/

@import 'colors';
@import 'variables';

$color: $black;
$color-menu-accent: $black;
$color-menu-accent-arrow: $white;
$color-menu-accent-text: $white;
$color-menu-arrow: $black;
$color-menu-background: $gray-l3;
$color-text-hover: $blue;

@import 'variants/all';
