/*
This module relates to the filterable UI on the platform landing page. This
feature is described in the theme documentation at:

docs/reference/sites-filter.md
*/

@import 'colors';
@import 'variables';

.site-filter-outer {
    border: none;
    display: flex;
    flex-flow: column;
    margin: 0 0 1rem;
    padding: 0;

    legend {
        h2 {
            font-size: inherit;

            button {
                font-size: inherit;
                font-weight: inherit;

                .collapsed {
                    display: none;
                }

                .open {
                    display: inherit;
                }
            }
        }
    }

    &.collapsed legend h2 button {
        .collapsed {
            display: inherit;
        }

        .open {
            display: none;
        }
    }

    #site-filter {
        align-items: initial;
        border-top: 1px solid $gray-l3;
        display: flex;
        flex-flow: column;

        button {
            background-color: $white;
            border: none;
            border-bottom: 1px solid $gray-l3;
            font-size: inherit;
            margin: 0;
            padding: 0.5rem 1rem;
            text-align: left;

            &:hover,
            &:focus {
                background-color: $black;
                border-color: $black;
                color: $white;
            }

            &.pressed {
                background-color: $gray-l3;
                border-color: $gray-l3;
                color: $black;
            }
        }
    }

    &.collapsed #site-filter {
        display: none;
    }
}

@media only screen and (min-width: $bp-screen-md) {
    .site-filter-outer {
        align-items: baseline;
        border: none;
        flex-flow: row wrap;
        margin: 0;
        margin-bottom: 2rem;
        padding: 0;

        legend {
            float: left;

            h2 button {
                .collapsed {
                    display: inherit;
                }

                .open {
                    display: none;
                }
            }
        }

        &.collapsed legend h2 button {
            .collapsed {
                display: inherit;
            }

            .open {
                display: none;
            }
        }

        #site-filter {
            border: none;
            flex-flow: row wrap;
            float: left;

            button {
                background-color: $white;
                border: 1px solid $gray-l3;
                display: inline-block;
                padding: 1rem;
                font-size: 1.625rem;
                margin: 1rem;
            }
        }

        &.collapsed #site-filter {
            display: inherit;
        }
    }
}

#site-grid {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;

    .site-wrapper {
        display: inline-block;
        overflow: hidden;
        width: 33%;

        a.site {
            border: 1px solid $gray-l3;
            box-shadow: 0 0 5px $gray-l3;
            color: $black;
            display: flex;
            flex-flow: column;
            font-weight: bold;
            margin: 1rem;
            padding: 1rem;
            text-align: center;
            text-decoration: none;

            img {
                order: -1;
                padding-bottom: 1rem;
            }

            &:focus,
            &:hover {
                background: $gray-l3;
                color: $black;
            }
        }

        &.hidden {
            display: none;
        }
    }
}

// Two across on tablet-sized screens
@media only screen and (max-width: $bp-screen-md) {
    #site-grid {
        .site-wrapper {
            width: 50%;
        }
    }
}

// Single column on phones
@media only screen and (max-width: $bp-screen-sm) {
    #site-grid {
        flex-flow: column;

        .site-wrapper {
            width: 100%;
        }
    }
}
