nav.breadcrumbs {
    margin-bottom: 1rem;

    ol {
        li {
            &::after {
                content: ' > ';
            }

            &:last-child::after {
                content: none;
            }
        }
    }
}
