ul.navigation.sm-mint {
    border-color: $color-menu-accent;

    li a {
        color: $black;

        .sub-arrow {
            border-color: $color-menu-arrow transparent transparent transparent;
            background-color: $color-menu-arrow;
            color: $color-menu-accent-arrow;
        }
    }

    ul a .sub-arrow {
        border-color: transparent transparent transparent $color-menu-arrow;
    }

    &.sm-vertical a .sub-arrow {
        border-color: transparent transparent transparent $color-menu-arrow;
    }

    li {
        a:hover,
        a:focus,
        a:active,
        a.highlighted {
            background-color: $color-menu-accent;
            color: $color-menu-accent-text;

            .sub-arrow {
                border-color: $color-menu-accent-arrow transparent transparent transparent;
            }
        }
    }

    ul {
        background-color: $color-menu-background;

        a:hover,
        a:focus,
        a:active,
        a.highlighted {
            background-color: $color-menu-accent;

            .sub-arrow {
                border-color: transparent transparent transparent $color-menu-accent-arrow;
            }
        }
    }

    &.sm-vertical {
        border-color: $color-menu-accent;

        a:hover,
        a:focus,
        a:active,
        a.highlighted {
            background-color: $color-menu-accent;

            .sub-arrow {
                border-color: transparent transparent transparent $color-menu-accent-arrow;
            }
        }
    }

    .scroll-up-arrow,
    .scroll-down-arrow {
        border-color: $color-menu-accent;
    }
}

@media (min-width: $bp-screen-md) {
    ul.navigation.sm-mint li a .sub-arrow {
        background-color: transparent;
    }
}
